<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>IKEA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheets" href="./public/stylesheets/Main.css">
  <link rel="stylesheets" href="./public/stylesheets/home_furnishing_idea.css">
  <link rel="stylesheets" href="./public/stylesheets/search_box.css">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Scaffold - v2.2.1
  * Template URL: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span><svg xmlns="http://www.w3.org/2000/svg" width="150" height="60" viewBox="0 0 150 60"><defs><style>.a{fill:#0058ab;}.a,.b,.c{fill-rule:evenodd;}.b{fill:#fbd914;}.c{fill:#0058a3;}</style></defs><g transform="translate(-100 -128)"><path class="a" d="M249.979,188H100V128H250v60Z" transform="translate(0 0)"/><path class="b" d="M107.2,162.2c0,14.75,30.174,27,72.01,27s71.99-12.25,71.99-27-30.174-27-71.99-27S107.2,147.45,107.2,162.2Z" transform="translate(-4.2 -4.2)"/><path class="c" d="M190.673,192.207a12.078,12.078,0,0,0,1.592,1.867H176.031a7.146,7.146,0,0,0-1.311-2.918c-.688-1.007-4.407-6.527-4.407-6.527v7.577a3.828,3.828,0,0,0,.322,1.867H157.114a3.828,3.828,0,0,0,.323-1.867V174.2a3.822,3.822,0,0,0-.323-1.867h13.522a3.822,3.822,0,0,0-.322,1.867v7.869s4.322-5.5,5.31-6.778a7.806,7.806,0,0,0,1.677-2.958h14.1a15.176,15.176,0,0,0-2.923,2.811c-.774.924-5.16,6.15-5.16,6.15s6.493,9.673,7.353,10.913ZM194.93,174.2v18.006a3.828,3.828,0,0,1-.323,1.867h26.1v-6.043a4.112,4.112,0,0,1-1.914.313H207.807v-2.853h10.555v-4.575H207.807v-2.875h10.986a4.353,4.353,0,0,1,1.914.294v-6.023h-26.1a3.944,3.944,0,0,1,.322,1.888Zm61.938,18.006a5.224,5.224,0,0,0,1.055,1.867H243.776a3.947,3.947,0,0,0-.43-1.867s-.215-.5-.516-1.239l-.129-.315h-8.148l-.129.336s-.237.609-.452,1.239a4.144,4.144,0,0,0-.366,1.867H222.449a5.458,5.458,0,0,0,1.01-1.867l6.687-18.006a3.92,3.92,0,0,0,.387-1.867h18.853a3.132,3.132,0,0,0,.41,1.867C250.353,175.585,256.4,190.989,256.868,192.207Zm-15.953-6.15-1.977-5.035a10.948,10.948,0,0,1-.43-1.428,8.171,8.171,0,0,1-.387,1.428c-.065.21-.9,2.413-1.87,5.035Zm-90.208-13.723H136a3.822,3.822,0,0,1,.322,1.867v18.006a3.828,3.828,0,0,1-.322,1.867h14.706a3.828,3.828,0,0,1-.323-1.867V174.2A3.822,3.822,0,0,1,150.707,172.334Zm101.646,1.72a2.767,2.767,0,0,1,2.732-2.855h.193a2.834,2.834,0,0,1,2.923,2.75v.1a2.937,2.937,0,0,1-5.87.147.36.36,0,0,0,.021-.147Zm.58,0a2.344,2.344,0,1,0,2.345-2.287,2.239,2.239,0,0,0-2.345,2.12Zm1.764,1.7h-.516v-3.441h1.311a1.109,1.109,0,0,1,1.1,1.112,1.148,1.148,0,0,1-.624,1.008l.753,1.322h-.58l-.688-1.217H254.7v1.217Zm0-1.7h.71a.589.589,0,0,0,.645-.567.6.6,0,0,0-.58-.63H254.7Z" transform="translate(-21.001 -25.2)"/></g></svg></span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="drop-down"><a href="">All Product</a>
            <ul>
              <li><a href="#about">About Us</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Show Room</a>
            <ul>
              <li><a href="#about">About Us</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#services">On Sale</a></li>
          <li><a href="#portfolio">New Releases</a></li>


        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#" class="twitter"><svg xmlns="http://www.w3.org/2000/svg" width="18.343" height="18.289" viewBox="0 0 18.343 18.289"><path d="M20.487,19.259,17.12,15.892a8.225,8.225,0,1,0-1.244,1.244L19.242,20.5a.928.928,0,0,0,1.318,0h0A.906.906,0,0,0,20.487,19.259Zm-9.735-2.123a6.451,6.451,0,0,1-6.441-6.441,6.343,6.343,0,0,1,6.441-6.368,6.4,6.4,0,1,1,0,12.809Z" transform="translate(-2.428 -2.489)"/></svg></a>
        <a href="#" class="facebook"><svg xmlns="http://www.w3.org/2000/svg" width="16.626" height="18.289" viewBox="0 0 16.626 18.289"><g transform="translate(0 0)"><path d="M14.482,5.988a.785.785,0,0,1-.831-.831V2.663H8.663V5.157a.785.785,0,0,1-.831.831A.785.785,0,0,1,7,5.157V2.663A1.667,1.667,0,0,1,8.663,1H13.65a1.667,1.667,0,0,1,1.663,1.663V5.157A.785.785,0,0,1,14.482,5.988Z" transform="translate(-2.843 -1)"/><path d="M16.963,5H3.663A1.667,1.667,0,0,0,2,6.663V17.47a2.449,2.449,0,0,0,2.494,2.494H16.132a2.449,2.449,0,0,0,2.494-2.494V6.663A1.667,1.667,0,0,0,16.963,5Zm0,12.47a.785.785,0,0,1-.831.831H4.494a.785.785,0,0,1-.831-.831V6.663h13.3Z" transform="translate(-2 -1.675)"/></g></svg></a>
      </div>

    </div>
  </header><!-- End Header -->

  <body>
    <div class="ikea_food" style="height: 64.375rem;">
        <div style="margin:12.5em 0 0 0;padding:0;">
            <img src="images\ikea_food\chicken.png" width="299;" height="299;" style="position: absolute;z-index: 2;margin:21.4375em 0 0 85.375em;">
            <img src="images\ikea_food\salmon.png" width="297;" height="297;" style="position: absolute;z-index: 2;margin:21.4375em 0 0 64.0625em;">
            <img src="images\ikea_food\spagetti.png" width="299;" height="299;" style="position: absolute;z-index: 2;margin:0 0 30.9375em 85.375em;">
            <img src="images\ikea_food\steak.png" width="297;" height="297;" style="position: absolute;z-index: 2;margin:0 0 30.9375em 64.0625em;">
            <div style="width: 60em;height: 14.6875em;background-color: #FBD914;margin:12.375em 0 0 60em;position:absolute;z-index: 1;"></div>
            <div style="margin:0 0 0 15.9375em;padding-top: 10.1875em;">
                <p style="text-align: left;font-size: 3.125rem;font-weight: bold; margin:0;">IKEA FOOD</p>
                <p style="text-align: left;font-size: 1rem;margin:15px 0 0 0;line-height: 30px;color: #777777;">IKEA 매장에서 스웨덴의 맛을 느껴보세요. IKEA 레스토랑에서 스웨덴의 대표적인<br>
                    메뉴와 친숙한 한식을 즐기며 잠깐 쉬어가는 건 어떨까요? 계산대 바로 다음에 있는<br>
                    IKEA 비스트로에서는 간단한 스낵을 즐길 수도 있어요. 그리고 매장을 나서기<br>
                    전에 IKEA 스웨덴 푸드 마켓에서 판매하는 다양한 IKEA 메뉴, 스낵, 음료도<br>
                    잊지 말고 확인해 보세요. 그럼 맛있게 드세요!</p>
                <div style="height: 3.625em; width: 18.5em; background-color: #FBD914;border-radius: 2.375em;margin:3.125em 0 0 0;">
                    <p class="button1" style="float: left;margin:0.65em 0 0 1.8em;font-size: 1.3125em;font-weight:bold;">VIEW OUR MENU</p>
                    <div style="height: 2.0625em;width: 2.0625em;border-radius: 4.6875em;background-color: #FFFFFF;float: right;margin:0.75em 0.75em 0 0;">
                        <p style="margin:0.3em 0 0 0.59375em;padding:0;font-weight: bold;">→</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="catalogue" style="height: 51.875em;">
        <img src="images\catalogue\catalogue.png" width="629;" height="630;" style="position: absolute;z-index: 2;margin:0 0 12.5em 15.9375em;">
        <div style="width: 60em;height: 14.6875em;background-color: #FBD914;margin:12.375em 0 0 0;position:absolute;z-index: 1;"></div>
        <div style="margin:0 15.9375em 0 0;padding-top: 10.1875em;">
            <p style="text-align: right;font-size: 3.125em;font-weight: bold; margin:0;">IKEA Digital Catalogue</p>
            <p style="text-align: right;font-size: 1rem;margin:0.9375em 0 0 0;line-height: 1.875em;color: #777777;">홈카페, 홈트레이닝, 홈스쿨, 홈오피스까지 우리집은 멀티플레이어가 되어가고 있습니다.<br>
            집안에서 보내는 시간이 많아지다 보니 정리가 필요한 곳들이 점점 보이기 시작하죠.<br>
            IKEA 카탈로그 2021과 함께 집안에 있는 물건을 정리하는 다양한 방법을 만나보세요.<br>
            "IKEA 프린트 카탈로그는 IKEA 매장 혹은 IKEA 플래닝 스튜디오에서 받아보세요.</p>
            <div style="height: 3.625em; width: 16.125em; background-color: #FBD914;border-radius: 2.375em;margin:3.125em 0 0 87.8125em;">
                <p class="button1" style="float: left;margin:0.7em 0 0 1.7em;font-size: 1.3125em;font-weight:bold;">VIEW ONLINE</p>
                <div style="height: 2.0625em;width: 2.0625em;border-radius: 4.6875em;background-color: #FFFFFF;float: right;margin:0.75em 0.75em 0 0;">
                    <p style="margin:0.25em 0 0 0.5em;padding:0;font-weight: bold;">→</p>
                </div>
            </div>
        </div>
    </div>
    <div class="home_furnishing_idea">
        <p style="padding-top:100px;margin:0 0 0 255px;font-size: 38px;font-weight: bold;">HOME FURNISHING IDEA</p>
        <p style="margin:0 0 100px 255px;font-size:20px">이케아를 사용한 다양한 홈 아이디어를 알아보세요.</p>
        <div style="position: absolute;">
            <img src="images\home_furnishing_idea_images\background_image.png" width= "1920px;" height= "734px;">
            <div style="position: absolute;">
                <li><a href=""><img src="Image\home_furnishing_idea_images\button_icon.png" width= "34px;" height= "34px;" class="button1"></a>
                    <div style="width: 300px; height: 300px;position: absolute;background-color: black;display: none;" class="box1">
                    </div>
                </li>
                <img src="images\home_furnishing_idea_images\button_icon.png" width= "34px;" height= "34px;" class="button2">
                <img src="images\home_furnishing_idea_images\button_icon.png" width= "34px;" height= "34px;" class="button3">
                <img src="images\home_furnishing_idea_images\button_icon.png" width= "34px;" height= "34px;" class="button4">
            </div>
        </div>
    </div>
    <div class="search_box">
        <img src="images\search_box\search_box.png" width= "1920px;" height= "801px;">
        <div class="center_elements">
            <div style="margin-bottom:20px;">
                Join IKEA Family
            </div>
            <input type="text" class="input_box" placeholder="YOUR EMAIL                                                                                SUBMIT">
            <div class="checkbox_css">
                <input type="checkbox">
                I've read and accept the term&conditions
            </div>
        </div>
    </div>
</body>

  <!-- ======= Footer ======= -->
  <footer id="footer" style="background: #F5F5F5;">
    <div class="footer-top">
      <div class="container">
        <div class="row" style="width: 140%;">
          <div class="footer-info">
            <img src="assets/img/ikea_logo.png" style="width: 126.83; height: 20px; margin-right:10em;">
            
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>고객문의</h4>
            <ul>
              <li><a href="#">고객지원</a></li>
              <li><a href="#">자주 묻는 질문</a></li>
              <li><a href="#">문의하기</a></li>
              <li><a href="#">배송조회</a></li>
              <li><a href="#">교환환불</a></li>
              <li><a href="#">품질보증</a></li>
              <li><a href="#">제품리콜</a></li>
              <li><a href="#">제품 구매 가이드</a></li>
              <li><a href="#">피드백</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>쇼핑하기</h4>
            <ul>
              <li><a href="#">쇼핑하기</a></li>
              <li><a href="#">전화주문</a></li>
              <li><a href="#">IKEA for Business</a></li>
              <li><a href="#">셀프 플래닝</a></li>
              <li><a href="#">IKEA 모바일 앱</a></li>
              <li><a href="#">IKEA 카탈로그</a></li>
              <li><a href="#">제품 사용 팁/가이드</a></li>
              <li></i> <a href="#">결제 옵션</a></li>
              <li></i> <a href="#">기프트 카드</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>서비스</h4>
            <ul>
              <li><a href="#">IKEA 서비스</a></li>
              <li><a href="#">배송 서비스</a></li>
              <li><a href="#">조립 서비스</a></li>
              <li><a href="#">주방 서비스</a></li>
              <li><a href="#">홈퍼니싱 플래닝 서비스</a></li>
              <li><a href="#">인테리어 디자인 서비스</a></li>
              <li><a href="#">매장 픽업 서비스</a></li>
              <li></i> <a href="#">바이백 서비스</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>IKEA 이야기</h4>
            <ul>
              <li><a href="#">기업 소개</a></li>
              <li><a href="#">데모크래틱 디자인</a></li>
              <li><a href="#">지속가능한 생활</a></li>
              <li><a href="#">뉴스</a></li>
              <li><a href="#">채용정보</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-1 footer-links">
              <div class="social-links mt-3">
                <a href="#" class="instagram"><i class="bx bxl-instagram" style="font-size: 30px;"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook" style="font-size: 30px;"></i></a>
                <a href="#" class="youtube"><i class="bx bxl-youtube" style="font-size: 30px;"></i></a>
              </div>
          </div>
        </div>
      </div>
    </div>

 
      <div class="copyright" style="font-size: 14px; text-align: left; margin-left:200px;">
        IKEA 코리아 | 사업자등록번호 : 106-86-82871 | 대표이사 : 프레드릭 요한손 | 주소 : 경기도 광명시 일직로 17 IKEA광명점 | 대표전화 : 1670-4532 | 통신판매업 신고 : 2018-경기광명-0209
        <a href="#" class="youtube" style="margin-left: 283px; color:#111"><i class="icofont-location-pin" style="font-size: 18px; color: gray;"></i>&nbsp;&nbsp;대한민국</a>
      </div>
      <div class="credits">
      </div>
  
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>